<div class="renseignements">

  <div class= avatar>
    <img src="https://image.darty.com/image_son/photo_numerique/appareil_photo/fujifilm_x100f_marron_s1809034600460A_105840466.jpg" height="70px"
    width="70px"  alt="avatar" />
    <h1>Hello Albert Pouf !!!</h1>
  </div>

  <div class= "comptes">

  </div>

  <div class= "inbox">

  </div>

</div>


