
    <% @schools.each do |school| %>
    <p><%= link_to professional_school_path(school.id) do %>
      <p><%= school.name %></p>
      <% end %></p>
      <% end %>

<div class="container mx-auto bg-red-200">

</div>



