<span class="ml-3"><%= current_photographer.fullname %></span>

    Schools List:
<% @schools.each do |school| %>
    <p><%= link_to professional_school_path(school.id) do %>
      <p><%= school.name %></p>
      <% end %></p>
     <% end %>


