<h1>Consultation</h1>
<p><%= @student.name %> pictures</p>

  <% if @student.photos.exists? %>
    <% @student.photos.each do |photo| %>
      <%= cl_image_tag photo.file.key, :opacity => 100, :effect => "brightness:20",
                  :width => 200, :overlay => "sample_watermark_ijogba" %>
        <p>Photo de Groupe</p>
        <%= cl_image_tag photo.file.key, :opacity => 100, :effect => "brightness:20",
                  :width => 200, :overlay => "sample_watermark_ijogba" %>
        <p>Photos Individuelles</p>
      <% else %>
        <%= cl_image_tag photo.file.key %>
      <% end %>
    <% end %>
  <% else %>
    <p>There is no picture uploaded yet!</p>
  <% end %>

