<h1>Consultation</h1>
<p><%= @student.name %> pictures</p>


  <% if @student.photos.exists? %>
    <% @student.photos.each do |photo| %>
      <% if photo.photo_type %>
        <p>Photo de Groupe</p>
        <%= cl_image_tag photo.file.key, :transformation=>[
  {:width=>200, :height=>300, :crop=>"fill"},
  {:overlay=>"kioku_watermark_vhbs35", :effect=>"brightness:20", :opacity=>100, :width=>0.3,}
  ] %>
        <p>Photos Individuelles</p>
      <% else %>
        <%= cl_image_tag photo.file.key, :transformation=>[
  {:width=>200, :height=>300, :crop=>"fill"},
  {:overlay=>"kioku_watermark_vhbs35", :effect=>"brightness:20", :opacity=>100, :width=>0.3,}
  ] %>
      <% end %>
    <% end %>
  <% else %>
    <p>There is no picture uploaded yet!</p>
  <% end %>

