<h1>Hello director, welcome back !</h1>

<p>Here, is your class folder :</p>

<p><strong>Ecole:<br></strong>&ensp;<%= @school.name %></p>

setting

log out











<!-- VERSION FINALE  -->

<!-- Earned this year :
XXXX€

Chose your profit margin :
XX% -->


