<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.49 76.46">
  <defs><style>.cls-1{fill:#fff;}</style></defs>
  <title>Fichier 1folder</title>
  <g id="Calque_2" data-name="Calque 2">
    <g id="Calque_2-2" data-name="Calque 2">
      <path class="cls-1" d="M44.65,11.16H98.49a7,7,0,0,1,7,7v51.3a7,7,0,0,1-7,7H7a7,7,0,0,1-7-7V11.16Z"/>
      <path class="cls-2 fill-<%= color %>" d="M0,11.16V7A7,7,0,0,1,7,0H32.93L44.65,11.16Z"/></g></g></svg>
