.container-students {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

#imgs {
  list-style: none;
  margin: 0;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.target {
  // background: yellow;
  // height: 230px;
}

.target .dropable-student {
  order: 3;
}

.dropable-student ~ .dnd-placeholder {
  display: none;
}

.target-hidden {
   display: none;
}

#names .close {
  display: none;
}

// .target .close {
//   display: block;
// }

.target .email {
  display: none;
}
