.container-students {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

#imgs {
  list-style: none;
  margin: 0;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  border: 1px solid black;
  position: relative;
}

.target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.target-hidden {
   display: none;
}

#names .close {
  display: none;
}

#imgs .email {
  display: none;
}

