.container-students {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

#imgs {
  list-style: none;
  margin: 0;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  border: 1px solid black;
}

.target {
  background: yellow;
  height: 30px;
}

#names .close {
  display: none;
}

#imgs .email {
  display: none;
}
