.addfolder {
  height: 100%;
  -webkit-transform:scale(1);
  -webkit-transition: all 0.3s ease;
  &:hover {
    -webkit-transform:scale(1.25);
    -webkit-transition: all 0.3s ease;
  }
}
.folder-svg {
  -webkit-transform:scale(1);
  -webkit-transition: all 0.3s ease;
  &:hover {
    -webkit-transform:scale(1.25);
    -webkit-transition: all 0.3s ease;
  }
}
