.status {
  border-radius: 10px;
  width: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.pastille {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;

}

.chargement {
background-color: #FB4953;
}

.association {
background-color:  #FEC957;

}

.ok {
background-color: #65F1E4;

}

.clos {
  background-color: #7D07F2;
}

.light-chargement {
background-color: #FFEDEE;
}

.light-association {
background-color:  #FFFAEE;

}

.light-ok {
background-color: #F0FEFC;

}

.light-clos {
  background-color: #F2E6FE;
}


